
@{ ViewData["Title"] = "Result"; }

<h1>Results</h1>
<a href="/Results/Easy"><h3>Reaction Game speed easy</h3></a>
<a href="/Results/Medium"><h3>Reaction Game speed medium</h3></a>
<a href="/Results/Hard"><h3>Reaction Game speed hard</h3></a>
<a href="/Results/MediumShapes"><h3>Reaction Game medium shapes</h3></a>
<a href="/Results/TinyShapes"><h3>Reaction Game tiny shapes</h3></a>
<a href="/Results/BigGreenBox"><h3>Reaction Game Big Green Box</h3></a>
