<link rel="stylesheet" type="text/css" href="~/css/styles.css"/> 

@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Test yourself and exercise your cognitive processes</h1>

    @*<a href="/ReactionTest/memory"><h3>Memory</h3></a>*@
    <a href="/ReactionTest/levelEasy"><h3>Reaction Game speed easy - favourite music</h3></a>
    <a href="/ReactionTest/levelMedium"><h3 class="game">Reaction Game speed medium - classic music</h3></a>
    <a href="/ReactionTest/levelHard"><h3>Reaction Game speed hard - rock music</h3></a>
    @*<a href="/ReactionTest/mediumShapes"><h3>Reaction Game medium shapes</h3></a>
    <a href="/ReactionTest/tinyShapes"><h3>Reaction Game tiny shapes</h3></a>
    <a href="/ReactionTest/bigGreenBox"><h3>Reaction Game Big Green Box</h3></a>*@
    <a href="/Results/Result"><h3>Results</h3></a>


</div>
