@{
    ViewData["Title"] = "levelHard";

}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Reaction time test 3</title>

    <style>

        :root {
            --bound: 100px;
        }

        body {
            background-color: rgba(202, 28, 28, 0.5);
            text-align: center;
            color: #000000;
            opacity: 1;
            font-family: Arial;
        }

        .p {
            text-align: center;
            color: #000000;
            opacity: 1;
            font-family: Arial;
            font-weight: bold;
        }

        .s {
            background-color: rgb(0, 255, 13);
            font-family: Arial;
            font-weight: bold;
        }

        #box {
            width: var(--bound);
            height: var(--bound);
            background-color: red;
            opacity: 1;
            display: none;
            position: relative;
        }
    </style>

</head>
<body>
    <div id="text">
        <h1>Reaction Game</h1>
        <h2>Click as fast as you can :)</h2>
        <h2>Speed level hard</h2>
        <h4>Before you start, please enter your age and the device you are using. </h4>
        <h5> Click "Save Game" to save your best result.</h5>
    </div>
    <div>
        <input id="userAge" type="number" placeholder="Type your age">
        <input id="userDevice" type="text" placeholder="What is your device?">
    </div>
    <div>
        <button class="s" onclick="gameStart()" type="button">Start Game</button>
        <button class="s" id="SaveGame" type="button">SaveGame</button>
    </div>
    <p class="p">Reaction time: <span id="time">0</span>s</p>
    <div id="box"></div>
    <script type="text/javascript">
        var createdTime;
        var clickedTime;
        var reactionTime;
        var testName = "Hard";
        var list = [];

        function randomcolor() {
            var max = 200;
            var min = 50;
            var green = Math.floor(Math.random() * (max - min + 1)) + min;
            var color = "rgba(255," + green + ",100,1.0)";
            return color;
        }

        function makebox() {

            var time = Math.random();
            time = time * 10; //speed

            setTimeout(function () {
                if (Math.random() >= 0.5) {
                    document.getElementById('box').style.borderRadius = "75px";
                    document.getElementById('box').style.border = "5px solid black";
                } else {
                    document.getElementById('box').style.borderRadius = "0px";
                    document.getElementById('box').style.border = "5px solid black";
                }

                var min = 0;
                var max = document.documentElement.clientHeight - 500;
                var top = Math.floor(Math.random() * (max - min + 1)) + min;

                min = 0;
                max = document.documentElement.clientWidth - 400;

                if (document.documentElement.clientWidth > document.documentElement.clientHeight) {
                    var dynamicBound = document.documentElement.clientWidth / 8;
                    console.log("width:" + dynamicBound);
                } else {
                    var dynamicBound = document.documentElement.clientHeight / 8;
                    console.log("height:" + dynamicBound);
                }

                dynamicBound = dynamicBound + "px";
                document.documentElement.style.setProperty("--bound", dynamicBound);

                var left = Math.floor(Math.random() * (max - min + 1)) + min;


                document.getElementById('box').style.top = top + "px";
                document.getElementById('box').style.left = left + "px";

                document.getElementById('box').style.backgroundColor = randomcolor();
                document.getElementById('box').style.display = "block";
                createdTime = Date.now();
            }, time);


        }

        function gameStart() {
             var a = 0;
             document.getElementById("userAge").style.display = 'none';
             document.getElementById("userDevice").style.display = 'none';
             document.getElementById("text").style.display = 'none';
            document.getElementById('box').onclick = function(){
                this.style.display="none";
                clickedTime = Date.now();
                reactionTime = (clickedTime - createdTime) / 1000;
                document.getElementById('time').innerHTML = reactionTime;
                list[a] = reactionTime;
                a++;
                makebox();
            }
            makebox();
        }

        document.getElementById("SaveGame").onclick = function () {

            var min = 10000;
            for (var i = 0; i < list.length; i++) {

                if (min >= list[i]) {
                    min = list[i];
                }
            }
            var userAge = document.getElementById("userAge").value;
            var userDevice = document.getElementById("userDevice").value;
            console.log(userAge);
            reactionSpan = min * 1000;
             $.ajax({
                url: '@Url.Action("AddRecordToReactionTest", "ReactionTest")',
                type: 'POST',
                data: {
                    "span": reactionSpan,
                    "testName": testName,
                    "userAge": userAge,
                    "userDevice": userDevice
                },
                success: function (response) {
                    var Data = JSON.parse(response);
                    alert("Your best reaction time has been saved!");
                },
                failure: function () {
                    var Data = JSON.parse(response);
                    alert(response);
                },
                error: function () {
                    var Data = JSON.parse(response);
                    alert(response);
                }

            });
        };
    </script>
</body>
</html>
