@{
    ViewData["Title"] = "memory";
    
}




<h1>Memory game</h1>

<head>
    <meta charset="UTF-8">

    <title>Memory Game</title>

    <link rel="stylesheet" href="~/css/styles.css">
</head>




<body>


    <section class="memory-game">
        <div class="memory-card" data-framework="Logo_KIiAM">
            <img class="front-face" src="~/img/LOGO_KIiAM.png" alt="LOGO_KIiAM" />
            <img class="back-face" src="~/img/js-badge.png" alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="Logo_KIiAM">
            <img class="front-face" src="~/img/LOGO_KIiAM.png" alt="LOGO_KIiAM" />
            <img class="back-face" src="~/img/js-badge.png" alt="JS Badge" />
        </div>

        <div class="memory-card" data-framework="mercedes">
            <img class="front-face" src="~/img/Mercedes.png" alt="Mercedes" />
            <img class="back-face" src="~/img/js-badge.png" alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="mercedes">
            <img class="front-face" src="~/img/Mercedes.png" alt="Mercedes" />
            <img class="back-face" src="~/img/js-badge.png" alt="JS Badge" />
        </div>

        <div class="memory-card" data-framework="windows">
            <img class="front-face" src="~/img/Windows.png" alt="Windows" />
            <img class="back-face" src="../img/js-badge.png" alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="windows">
            <img class="front-face" src="~/img/Windows.png" alt="Windows" />
            <img class="back-face" src="~/img/js-badge.png" alt="JS Badge" />
        </div>

        <div class="memory-card" data-framework="santa">
            <img class="front-face" src="~/img/Santa.png" alt="Santa" />
            <img class="back-face" src="~/img/js-badge.png" alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="santa">
            <img class="front-face" src="~/img/Santa.png" alt="Santa" />
            <img class="back-face" src="~/img/js-badge.png" alt="JS Badge" />
        </div>

        <div class="memory-card" data-framework="cebula">
            <img class="front-face" src="~/img/Cebula.png" alt="Cebula" />
            <img class="back-face" src="~/img/js-badge.png" alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="cebula">
            <img class="front-face" src="~/img/Cebula.png" alt="Cebula" />
            <img class="back-face" src="~/img/js-badge.png" alt="JS Badge" />
        </div>

        <div class="memory-card" data-framework="arbuz">
            <img class="front-face" src="~/img/Arbuz.png" alt="Arbuz" />
            <img class="back-face" src="~/img/js-badge.png" alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="arbuz">
            <img class="front-face" src="~/img/Arbuz.png" alt="Arbuz" />
            <img class="back-face" src="~/img/js-badge.png" alt="JS Badge" />
        </div>
    </section>

    <script src="~/js/scripts.js"></script>
</body>

